[MainConfiguration]
application.mode=local

[LocalSection]
local.photo.files.path=./assets/images
local.net.bios.name=

[ServerSection]
server.ip.address=
server.net.bios.name=diskstation
server.shared.name=fotos
server.connection.type=SMB
server.photo.files.path=
server.username=
server.password=

[SlideshowConfiguration]
slideshow.delay=2